.fi-social-facebook{color:dodgerblue;font-size:2rem;}.fi-social-youtube{color:red;font-size:2rem;}.fi-social-pinterest{color:darkred;font-size:2rem;}i.fi-social-instagram{color:brown;font-size:2rem;}i.fi-social-tumblr{color:navy;font-size:2rem;}.fi-social-twitter{color:skyblue;font-size:2rem;}

.menu>li>a{
  color: inherit;
  display: block;
  line-height: 14px;
  height: 48px;
  padding: 18px 12px 0 12px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Shentox Medium',sans-serif;
  font-weight: 500;
  letter-spacing: .02em;
}
.menu>li{
  color: #999;
}

.banner{
  position: relative;
}

.sub-title{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 24px;

}

.is-dropdown-submenu{
  top: 3.5em;
  left: 0;
  min-width: 100%;
}